{{ if ne .Site.DisqusShortname "" }}
    <article class="post">
        {{ template "_internal/disqus.html" . }}
    </article>

{{/* Backwards compatibility for deprecated parameter ".Site.Params.staticman.staticman" */}}
{{ else if or .Site.Params.staticman.enabled .Site.Params.staticman.staticman }}
    <article class="post">
      {{ .Render "staticman" }}
    </article>
{{ else if or .Site.Params.gittalk.enabled }}
    <div id="gitalk-container">
        <script>
            var gitalk = new Gitalk({
  clientID: "a83bc47e22d46426006c",
  clientSecret: '4df05cf9cb02897883f87f3d1c8552ed88d47a2a',
  repo: 'yudar1024.github.io',
  owner: 'yudar1024',
  admin: ['yudar1024'],
  id: location.pathname,
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
        </script>
    </div>
{{ end }}
